@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 240 100% 99%;
    --foreground: 240 10% 3.9%;
    --card: 240 100% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 240 100% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 255 100% 87.5%;
    --primary-foreground: 255 42% 34%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 16 100% 65.7%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 255 100% 87.5%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.8rem;
  }
  .dark {
    --background: 240 33% 14%;
    --foreground: 240 100% 94%;
    --card: 240 28% 17%;
    --card-foreground: 240 100% 94%;
    --popover: 240 28% 17%;
    --popover-foreground: 240 100% 94%;
    --primary: 257 100% 76%;
    --primary-foreground: 267 100% 15%;
    --secondary: 240 15% 25%;
    --secondary-foreground: 240 5% 95%;
    --muted: 240 15% 25%;
    --muted-foreground: 240 5% 63%;
    --accent: 20 100% 70%;
    --accent-foreground: 27 100% 12%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 20% 25%;
    --input: 240, 20%, 25%;
    --ring: 257 100% 76%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
